version: "3.9"

services:
  backend:
    build: ./server
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env.development
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  mongo_data:
